#nav {
    width: 100%;
    padding: 30px 20px;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: blur(20px) saturate(180%);
    position: sticky;
    top:0;
    z-index:999;
    #nav-container {
        position: relative;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        #nav-logo {
            width: 100px;
            height: 30px;
        }
        #nav-menu {
            display:flex;
            flex: 1 1 0%;
            justify-content: flex-start;
            align-items: center;
            .nav-menu-item {
                margin-left: 30px;
                color: var(--neutral-gray);
                font-size: 0.7rem;
                a {
                    line-height: 30px;
                    transition: all 0.3s ease;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
        .button {
            padding: 6px 20px;
        }
        #login {
            background-color: transparent;
            color: var(--neutral-gray);
            font-size: 0.7rem;
            font-weight: 700;
            &:hover {
                color: black;   
            }
        }
        #sign-up {
            font-size: 0.7rem;
        }
        #nav-menu-toggle-btn {
            display:none;
            &:checked + .nav-menu-toggle-btn .btn-icon {
                filter: brightness(0.5);
            }
            &:checked ~ .nav-menu-toggle-btn .btn-icon.top {
                transform: translateY(0) rotate(-45deg);
            }
            &:checked ~ .nav-menu-toggle-btn .btn-icon.middle {
                opacity: 0;
            }
            &:checked ~ .nav-menu-toggle-btn .btn-icon.bottom {
                transform: translateY(0) rotate(45deg);
            }
            &:checked ~ #dropdown-menu-container {
                top: 60px;
                opacity: 1;
                pointer-events: all;
            }
        }
        .nav-menu-toggle-btn {
            display:none;
            position: relative;
            height: 30px;
            width: 30px;
            .btn-icon {
                position: absolute;
                display:block;
                width: 24px;
                height: 2px;
                background-color: var(--neutral-gray);
                top:14px;
                left: 3px;
                opacity: 1;
                transition: all 0.3s ease;
                &.top {
                    transform: translateY(-6px);
                }
                &.bottom {
                    transform: translateY(6px);
                }
            }
        }
        #dropdown-menu-container {
            position: absolute;
            z-index:-1;
            width: 100%;
            top:50px;
            left:0px;
            opacity: 0;
            border-radius: 10px;
            background-color: var(--primary-dark-violet);
            transition: all 0.3s ease;
            padding:30px 20px;
            pointer-events: none;
            #dropdown-menu {
                width: 100%;
                display:flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid rgba(255,255,255,0.8);
                margin-bottom: 30px;
                .dropdown-menu-item {
                    text-align: center;
                    color:white;
                    margin-bottom: 30px;
                }
            }
            #dropdown-menu-btn {
                width: 100%;
                #dropdown-login {
                    width: 100%;
                    background-color: transparent;
                    color: white;
                    padding-bottom: 30px;
                }
                #dropdown-signup {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #nav {
        #nav-container {
            #nav-logo {
                flex: 1 1 0%;
            }
            #nav-menu {
                display:none;
            }
        }
    }
}
@media only screen and (max-width: 425px) {
    #nav {
        #nav-container {
            .nav-menu-toggle-btn {
                display:block;
            }
        }
        .button#login, .button#sign-up {
            display: none;
        }
    }
}